<img src="/assets/images/men-in-tights.jpeg" height="300" />
<p>You are {{@name}}, the archer</p>
<p>Archers shoot stuff. I can't find any SFW Robin Hood: Men in Tights quotes that I like</p>
{{yield}}
