<h2>This is you!</h2>
{{#if (eq this.selectedClass "warrior")}}
  <Warrior @name={{this.name}} />
{{/if}}
{{#if (eq this.selectedClass "mage")}}
  <Mage @name={{this.name}} />
{{/if}}
{{#if (eq this.selectedClass "archer")}}
  <Archer @name={{this.name}} />
{{/if}}
{{yield}}
